[submodule "WebSocket.ahk"]
	path = Lib/WebSocket.ahk
	url = https://github.com/G33kDude/WebSocket.ahk.git
[submodule "AutoHotkey-JSON"]
	path = Lib/AutoHotkey-JSON
	url = https://github.com/G33kDude/AutoHotkey-JSON.git
